<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack | Home</title>
    <link rel="stylesheet" href="about/about.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <div class="profile-info">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture">
            <h2 id="username">JohnDoe</h2>
        </div>
        <div class="game-info">
            <p>$ <span id="userCredits">0</span></p>
            <button>
                Start Playing
            </button>
        </div>
    </header>
    <main>
        <section>
            <article>
                <h1>How to play</h1>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit nemo, id corporis autem, cum tempore enim, nihil incidunt a aliquam reprehenderit eaque non asperiores. Distinctio autem nisi mollitia alias.</p>
                </div>
            </article>
            <div class="links">
                <a>see more</a>
            </div>
        </section>
    
        <section>
            <article>
                <h1>About the Project</h1>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit nemo, id corporis autem, cum tempore enim, nihil incidunt a aliquam reprehenderit eaque non asperiores. Distinctio autem nisi mollitia alias.</p>
                </div>
            </article>
            <div class="links">
                <a>Github</a>
            </div>
        </section>
    </main>
    <script src="about/about.js"></script>
</body>
</html>