<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack | Home</title>
    <link rel="stylesheet" href="about/about.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body background=".background/10081437.jpg">
    <header>
        <div class="profile-info">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile picture">
            <h2 id="username">JohnDoe</h2>
        </div>
        <div class="game-info">
            <p>$ <span id="userCredits">0</span></p>
            <button id="startGame">
                Start Playing
            </button>
        </div>
    </header>
    <main>
        <section>
            <article>
                <h1>How to play</h1>
                <div class="content">
                    <p>Welcome to Blackjack! The goal of the game is to beat the dealer's hand without going over 21.</p>
                    <p>To start, click the "Start Playing" button above. You will be dealt two cards, and the dealer will also receive two cards, one face up and one face down.</p>
                    <p>You can choose to "hit" (receive another card) or "stand" (keep your current hand). Be careful not to exceed 21, as that results in a bust and you lose the round.</p>
                    <p>After you stand, the dealer will reveal their facedown card and draw cards until their hand totals 17 or higher.</p>
                    <p>Whoever has the highest hand value without exceeding 21 wins the round!</p>
                </div>
            </article>
            <div class="links">
                <a>see more</a>
            </div>
        </section>
    
        <section>
            <article>
                <h1>About the Project</h1>
                <div class="content">
                    <p>Embark on an exciting journey with our multiplayer blackjack game! Players step into the role of clients while our dynamic server orchestrates turns, delivering real-time updates via a robust TCP connection. But that's not all - we've crafted a seamless chat experience powered by a UDP server, allowing players to engage in lively conversations as they compete.</p>
                    <p>Our project goes beyond just gaming - it's a full-fledged experience. Dive into our authentication system, where registration and access are managed effortlessly via CSV. Whether you're a seasoned player or new to the game, our platform welcomes all, offering endless entertainment and opportunities to connect with fellow enthusiasts.</p>
                </div>
            </article>
            <div class="links">
                <a>Github</a>
            </div>
        </section>
    </main>
    <script src="about/about.js"></script>
</body>
</html>