<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack | Game</title>
    <link rel="stylesheet" href="./game/game.css">
</head>
<body>
    <h1>BlackJack 21</h1>
    <p id="result"></p>
    <h2>Dealer: <span id="dealer-count"></span></h2>
    <div class="dealer-cards">
        <img id="hidden-card" src="./cards/BACK.png">
    </div>
    <h2>Player: <span id="player-count"></span></h2>
    <div class="player-cards">
        <img src="./cards/7-H.png">
        <img src="./cards/K-C.png">
    </div>
    <div>
        <button id="stay">Quedarte</button>
        <button id="hitMe">Pedir Carta</button>
    </div>
</body>
<script src="./game/game.js"></script>
</html>