<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack | Game</title>
    <link rel="stylesheet" href="./game/game.css">
    <link rel="stylesheet" href="./game/chat.css">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <h1>BlackJack 21</h1>
    <h2 id="result"></h2>
    <h2>Dealer: <span id="dealer-count"></span></h2>
    <div id="dealer-cards" class="card-play dealer-cards">
        <img id="hidden-card" src="./cards/BACK.png">
    </div>
    <!--
        <div class="card-play player-cards">
            <img class="card player" src="./cards/7-H.png">
            <img class="card player" src="./cards/K-C.png">
            <img class="card player" src="./cards/K-C.png">
            
        </div>
    -->
    <h2>Player: <span id="player-count"></span></h2>
    <div id="player-hands">
        <div class="player-hand two" id="playerHand-user">
        </div>
    </div>
    <div>
        <button id="stay">Quedarte</button>
        <button id="hitMe">Pedir Carta</button>
    </div>

    <div class="chat" id="chat">
        <div class="chat-list" id="chatList">
        </div>
        <div class="chat-controls">
            <input type="text" placeholder="type your message here" id="chatField">
        </div>
    </div>

    <button id="toggle-chat">
        <i class="material-icons">chat_bubble</i>
    </button>
</body>
<script src="./game/game.js"></script>
<script src="./game/chat.js"></script>

</html>