<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack | Game</title>
    <link rel="stylesheet" href="./cards/cards.css">
    <link rel="stylesheet" href="./cards/styleAligment.css">
</head>
<body>
    <div class="playingCards fourColours rotateHand">
        <h1>BlackJack || 21</h1>
        <ul class="deck">
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
            <li><div class="card back">*</div></li>
        </ul>
        <div class="clear"></div>

        <div class="dealer">
            <h3>Dealer</h3>
            <ul class="deck">
                <li>
                    <div class="card back"></div>
                    <div class="card back"></div>
                </li>
            </ul>
        </div>
        <div class="player">
            <h3>Player</h3>
            <ul class="deck">
                <li>
                    <div class="card back"></div>
                    <div class="card back"></div>
                </li>
            </ul>
        </div>

    </div>
<script src="./game.js"></script>
</body>
</html>