:root {
  --background: #2e602e;
}

h1{
  align-content: center;
  text-align: center;
}

body, main {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dealer {

}