body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-scroller {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.player-hands,
.delaer-cards {
    position: relative;
}

.player {
    display: inline;
    float: left;
    min-height: 250px;
    width: 100vw;
    padding: 0;
    border: 0;
    margin: 0;
}

.player-title {
    text-align: center;
}


/* CARD STYLES */
.player-hand,
.dealer-hand {
    display: flex;
    justify-content: center;
    gap: -100px;
}

/* CARD STYLES */
.card {
    --x-offset: -0px;
    --y-offset: 0px;
    --angle: 0deg;
    background-color: transparent;
    height: 175px;
    aspect-ratio: 0.7;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    transform: translate(var(--x-offset), var(--y-offset)) rotate(var(--angle));
    animation: appearCard 1s ease;
}

.card.player {
    animation: appearPlayerCard 1s ease-in-out;
}

.card.hidden {
    animation: appearHiddenCard 1s ease;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.card.hidden .card-inner {
    transform: rotateY(180deg);
}

.player-hand .card:hover {
    transform: scale(1.05);

}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.card-back {
    transform: rotateY(180deg);
}


.one .card:nth-child(1) {
    --angle: 0;
}

.two .card:nth-child(1) {
    --angle: -5deg;
    --x-offset: 30px;
}

.two .card:nth-child(2) {
    --angle: 5deg;
    --x-offset: -30px;
    --y-offset: 3px;
}

.three .card:nth-child(1) {
    --angle: -5deg;
    --x-offset: 40px;
    --y-offset: 5px;
}

.three .card:nth-child(2) {
    --angle: 0deg;
    --x-offset: 0px;
}

.three .card:nth-child(3) {
    --angle: 5deg;
    --x-offset: -40px;
    --y-offset: 7px;
}

.four .card:nth-child(1) {
    --angle: -10deg;
    --x-offset: 60px;
    --y-offset: 8px;
}

.four .card:nth-child(2) {
    --angle: -5deg;
    --x-offset: 20px;
    --y-offset: 0px;
}

.four .card:nth-child(3) {
    --angle: 5deg;
    --x-offset: -20px;
    --y-offset: 2px;
}

.four .card:nth-child(4) {
    --angle: 10deg;
    --x-offset: -60px;
    --y-offset: 12px;
}

.five .card:nth-child(1) {
    --angle: -10deg;
    --x-offset: 120px;
    --y-offset: 10px;
}

.five .card:nth-child(2) {
    --angle: -5deg;
    --x-offset: 60px;
    --y-offset: 2px;
}

.five .card:nth-child(3) {
    --angle: 0deg;
    --y-offset: 0px;
    --x-offset: 0px;
}

.five .card:nth-child(4) {
    --angle: 5deg;
    --x-offset: -60px;
    --y-offset: 2px;
}

.five .card:nth-child(5) {
    --angle: 10deg;
    --x-offset: -120px;
    --y-offset: 10px;
}

@keyframes appearCard {
    0% {
        transform: translate(0, -200%) rotate(90deg) rotateY(180deg);
        opacity: 0;
    }

    50% {
        transform: translate(0, 0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x-offset), var(--y-offset)) rotate(var(--angle)) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes appearHiddenCard {
    0% {
        transform: translate(0, -200%) rotate(90deg) rotateY(180deg);
        opacity: 0;
    }

    50% {
        transform: translate(0, 0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x-offset), var(--y-offset)) rotate(var(--angle)) rotateY(180deg);
        opacity: 1;
    }
}